/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #f7f7f7;
          box-shadow: inset 0 0 5px #f7f7f7;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c63ff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4641ff;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.btn {
  padding: 8px 26px 8px 26px;
  text-transform: uppercase;
  background: none;
  border: 0px solid;
  font-weight: 100;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 9.5fr;
      grid-template-columns: 0.7fr 9.5fr;
  -ms-grid-rows: 1fr 7fr;
      grid-template-rows: 1fr 7fr;
      grid-template-areas: "logo    settings" "sideBar gallery";
  height: 100vh;
}

.gallery {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: gallery;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  border-top-right-radius: 15px;
  padding: 15px 15px 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .empty {
  width: 50%;
  height: 50%;
}

.gallery .addImage {
  margin: 15px 0px;
  background-color: #6C63FF;
  color: white;
  border-radius: 30px;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.settings {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: settings;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings .settingsBar {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings .settingsBar .search input {
  margin: 0 !important;
}

.settings .settingsBar .buttonSection .addImage {
  color: black;
}

.sideBar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sideBar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 5px 15px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7f7f7;
}

.mainButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
}

.mainButtons button {
  color: black;
}

.secondaryButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondaryButtons button {
  color: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 11;
  background-color: white;
  padding: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.modal h1 {
  text-transform: uppercase;
}

.modal p {
  text-align: center;
}

.blackShadow {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.createIt {
  background-color: #06d19c;
  border-radius: 30px;
  color: white;
  font-weight: 400;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], input[type="date"], input[type="file"], select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #eee;
  width: 80%;
  color: #111;
  font-family: Lato, sans-serif;
  font-weight: 400;
  padding: 10pt 20pt;
  border-radius: 30px;
  background-color: #f7f7f7;
  margin-bottom: 1.4em;
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

textarea {
  resize: vertical;
  min-height: 200px;
  max-height: 300px;
}

select {
  width: 80%;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="file"]:focus, select:focus, textarea:focus {
  border-color: rgba(108, 99, 255, 0.5);
  outline: 0;
  background-color: #ffffff;
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 250px;
  margin: 10px 30px;
  position: relative;
}

.photo img {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  height: 250px;
  width: 250px;
}

.photo i {
  color: #6C63FF;
}

.delete {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 0, 87, 0.7);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.photo:hover .delete {
  opacity: 1;
}

.emptyGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=album.css.map */