<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <script src="./js/map.js"></script>
    <link rel="stylesheet" href="./css/map.css">
    <script src="https://kit.fontawesome.com/0a74bda537.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="blackShadow"></div>
    <div class="modal newObject">
        <h1>нов обект</h1>
        <form method="POST" id="task">
            <input type="text" placeholder="Име на обекта" id="title" required>
            <textarea placeholder="Описание(максимум 250 символа)" id="description" required></textarea>
            <button class="btn addNewObject" type="submit">Добави</button>
        </form>
        <button class="btn close">затвори прозореца</button>
    </div>
    <div class="app">
        <div class="logo">
            <h1>MF</h1>
        </div>
        <div class="header">
            <div class="locationHeader">
                <h3 class="familyName">Гоцанови</h3>
                <h3>Обекти: <%= mainInfo[0].familyName %></h3>
                <h3>Участници: <%= mainInfo[0].members %></h3>
            </div>
        </div>
        <div class="sideBar">
            <div class="mainButtons">
                <button class="btn"><i class="fas fa-calendar-alt fa-2x"></i></button>
                <button class="btn"><i class="fas fa-car fa-2x"></i></button>
                <button class="btn"><i class="fas fa-user-graduate fa-2x"></i></button>
                <button class="btn"><i class="fas fa-location-arrow fa-2x"></i></button>
                <button class="btn addObject"><i class="fas fa-plus fa-2x"></i></button>
            </div>
            <div class="secondaryButtons">
                <button class="btn"><i class="fas fa-cog fa-2x"></i></button>
                <button class="btn"><i class="fas fa-sign-out-alt fa-2x"></i></button>
            </div>
        </div>
        <div id='map'></div>
    </div>
</body>
</html>